#slider {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -49%); 
}

img {
  max-width: 100%;
  height: auto;
  z-index: 0;
}

@keyframes fadein {
  from {display: 'none'; opacity: 0;}
  to{display: 'inline-block'; opacity: 1;}
}

@keyframes fadeout {
  from {display:'inline-block'; opacity: 1;}
  to {display: 'none'; opacity: 0;}
} 

.imgon {
  animation-name: fadein;
  animation-duration: 2s; 
}

.imgoff {
  animation-name: fadeout;
  animation-duration: 2s;
}

@media only screen and (min-device-width: 400px) { img
     {
  max-width:100%;
  height: auto;
  }
}

.arrow {
  cursor: pointer;
  position: absolute;
  z-index:1;
  display: inline-block;
  font-size: 5vw;
  max-width: 50%;
  height: auto;
}

#arrow-left {
  color: rgba(158, 157, 157, 0.658);
  left: 1vh;
  top:35%;
}

#arrow-right {
  color: rgba(158, 157, 157, 0.658);
  right: 1vh;
  top:35%;
}

.buttons {
  color: rgba(158, 157, 157, 0.589);
  padding: 10px;
  border: none;
  z-index: 2;
  position: fixed;
  cursor: pointer;
}

#pausebutton {
  width: 49%;
  min-width: auto;
  height: auto;
  left: 0vh;
}

#playbutton {
  width: 49%;
  min-width: auto;
  height: auto;
  right: 0vh;
}