#slider {
  padding-top: 10%;
  padding-left: 55%;
}

img {
  max-width: 60%;
  height: auto;
  z-index:0;    
}

@media only screen and (min-device-width: 400px) { img
     {
  max-width:80%;
    height: auto;
  }
}

.slide {
  position: absolute;
}

.arrow {
  cursor: pointer;
  position: absolute;
  width:0;
  height:0;
  border-style:solid;
  z-index:1;
  display: inline-block;
 
}

#arrow-left {
  border-width: 15px 25px 15px 0px;
  margin-left: 5px;
  border-color: transparent #FFFFFF transparent transparent;
  left: 56%;
  top: 32%;
  
}

#arrow-right {
  border-width: 15px 0px 15px 25px;
  margin-right: 5px;
  border-color: transparent transparent transparent #FFFFFF;
  right: 10%;
  top:32%;
  
}
